// HEADER //

$header-background-color: #87ceeb;
$header-shadow: rgba(0, 0, 0, 0.8);

// TEXTS //

$text-color-blue: #158dbc;
$button-text-color: white;

// BUTTONS

$button-background-color: #008cba;

// PALETTES

$whites: (
  100: white,
  200: grey,
);
